@using DsiWorkorders.Web.ViewModels
@using Kendo.Mvc.UI;

<div  class="grid-parent" data-departmentfilterurl="@(ViewBag.WorkorderType == "Resloved" ? Url.Action("GetClosedDepartmentDropdownItems") : Url.Action("GetOpenDepartmentDropdownItems"))">

  <div class="row">
    <div class="col-md-4 col-xs-12">
      <h5>Search Workorder</h5>
      <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-10  col-xs-10">
          <input type="text" data-id="@("Workorders" + (string)ViewBag.WorkorderType)" class="form-control jq-search-kendo-grid" />
        </div>
        <div class="col-md-2  col-xs-2">
          <button type="button" class="btn btn-primary jq-search-kendo-grid-btn">Apply</button>
        </div>
      </div>
    </div>
  </div>

    <div class="jq-kendo-filters-wrapper hide" style="margin-bottom: 10px;">

        <i class="glyphicon glyphicon-filter"></i>
        <span class="jq-kendo-filters kendo-grid-filters"></span>
        <a href="#" class="btn btn-warning jq-clear-kendo-filters" data-id="@("Workorders" + (string)ViewBag.WorkorderType)" style="margin-left: 15px; padding: 1px 5px;">Clear Filters</a>
    </div>

    @(Html.Kendo().Grid<WorkOrdersGridViewModel>().Name("Workorders" + (string)ViewBag.WorkorderType).Columns(c =>
{
    c.Bound(w => w.DepartmentAreaName).Title("Area").Filterable(w => w.UI("areaFilterJsFunction"));
    c.Bound(w => w.DepartmentName).Title("Department").Filterable(w => w.UI("departmentFilterJsFunction"));
    c.Bound(w => w.Reported).Format("{0:MM/dd/yyyy}");
    c.Bound(t => t.Details).ClientTemplate(
      "<a href='" +
      Url.Action("Detail", "Workorders") +
      "/#= Id #'" +
      ">#=Details#</a>"
      ).Title("Details").Width(300);
    c.Bound(w => w.Priority).Filterable(w => w.UI("priorityFilterJsFunction"));

    //Consumers will be implemented at a later date...
    //c.Bound(w => w.ConsumerName).Title("Individual").Filterable(w => w.UI("consumerFilterJsFunction"));
    if (ViewBag.WorkorderType == "Resloved")
    {
        c.Bound(w => w.Closed).Title("Closed").Format("{0:MM/dd/yyyy}");
        c.Bound(w => w.Closer).Title("Closer");
    }
    else
    {
        if (ViewBag.WorkorderType != "Rejected")
        {
            c.Bound(w => w.Due).Title("Due").Format("{0:MM/dd/yyyy}");
        }
    }

    if (ViewBag.WorkorderType == "Rejected")
    {
        c.Bound(w => w.Rejected).Title("Rejected").Format("{0:MM/dd/yyyy}");
        c.Bound(w => w.Rejector).Title("Rejector");
    }
    else
    {
        c.Bound(w => w.DaysOverdue).Title("Days Overdue");
        c.Bound(w => w.DaysOpen).Title("Days Open");
    }
    //c.Bound(w => w.DaysOverdue).Title("Days Overdue");
    //c.Bound(w => w.DaysOpen).Title("Days Open");
    if (ViewBag.WorkorderType == "Awaiting" && DsiWorkorders.Web.Helpers.UserFunctions.IsAdminOrEditor())
    {
        c.Template(m => m)
           .Width(100)
           .ClientTemplate(
           "<a class='btn btn-xs jq-approve-link btn-primary' data-reload='" + Url.Content("~/Workorders/Index") + "'  href='" + Url.Content("~/Workorders/Approve/#=Id #") + "'  data-toggle='tooltip' title='Approve and move to Open Workorders tab' data-placement='top'>Approve</a>&nbsp;"
            );

        c.Template(m => m)
           .Width(100)
           .ClientTemplate(
           "<a class='btn btn-xs jq-reject-link btn-warning' data-toggle='tooltip' title='Move to Rejected tab' data-placement='top' data-msg='Please Enter the reason(S) for Rejecting this Workorder.' data-reload='" + Url.Content("~/Workorders/Index") + "'  href='" + Url.Content("~/Workorders/Reject/#=Id #") + "'>Reject</a>&nbsp;"
            );
    }

})
      .DataSource(d => d
                         .Ajax()
                          .Events(x => x.RequestStart((ViewBag.WorkorderType == "Resolved" ? "doNothing" : "getOpenIssues")))
                                  .Events(ev => ev.RequestEnd("onWorkOrderRequestEnd"))
                         .Read(r => r.Action(ViewBag.WorkorderType == "Resloved" ? "GetClosed" : ViewBag.WorkorderType == "Rejected" ? "GetRejected" : ViewBag.WorkorderType == "Awaiting" ? "GetAwaiting" : "GetOpen", "Workorders", new { isOpen = ViewBag.isApproved , type = ViewBag.WorkorderType }))
                         .PageSize(15))
                         .AutoBind(false)
      .Pageable(pager => pager
                           .PageSizes(true)
      )
      .Sortable()
      .Resizable(d => d.Columns(true))
      .Reorderable(d => d.Columns(true))
      .Scrollable()
      .Events(evt => evt.DataBound("persistGridSettings"))
      .Events(evt => evt.ColumnHide("persistGridSettings"))
      .Events(evt => evt.ColumnShow("persistGridSettings"))
      .Filterable()
      .ColumnMenu()
    )
</div>

<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();       
        var grid = $('#Workorders' + '@ViewBag.WorkorderType').data().kendoGrid;
        loadGridStateFromCookie(grid);

    });


</script>
<script>
    $(document).ready(function () {
        var tooltip = $("#Workorders"+ '@ViewBag.WorkorderType').kendoTooltip({
            filter: ".btn",
            width: 120,
            position: "top"
        }).data("kendoTooltip");
    });
</script>