@using Workorders.Web.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Settings.ApplicationName</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" href="~/Content/Images/apple-touch-icon-iphone-60x60.pn" sizes="60x60">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Images/apple-touch-icon-ipad-76x76.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Images/apple-touch-icon-iphone-retina-120x120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Images/apple-touch-icon-ipad-retina-152x152.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Pinned Site IE11 Code -->
    <meta name="application-name" content="Workorders DSI" />
    <meta name="msapplication-tooltip" content="Workorders DSI">
    <!-- IE11 tiles -->
    <meta name="msapplication-square70x70logo" content="~/Content/Images/tiny.png" />
    <meta name="msapplication-square150x150logo" content="~/Content/Images/square.png" />
    <meta name="msapplication-wide310x150logo" content="~/Content/Images/wide.png" />
    <meta name="msapplication-square310x310logo" content="~/Content/Images/large.png" />
    <meta name="msapplication-TileImage" content="/favicon-144.png">

    @*    <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="~/Content/favicon-144.png">*@


    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Content/ATH/addtohomescreen.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ATH/addtohomescreen.js")"></script>
    <script>
        addToHomescreen();
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="javascript:void(0);" class="navbar-brand wo-brand hidden-xs">@Settings.CompanyName</a>
                <a href="javascript:void(0);" class="navbar-brand wo-brand visible-xs">@Settings.CompanyAbbr</a>

                <ul class="nav navbar-nav pull-left" style="margin-left: 0; margin-right: 0;">

                    @{
                        if (UserFunctions.IsValidUser())
                        {
                            var openIssuesCount = Html.Action("GetOpenIssuesCount", "Workorders");
                            <li class="visible-xs">
                                <a href="@Url.Action("Index", "Workorders")">
                                    Workorders
                                    <span class="wo-mobile-grid-count">(@openIssuesCount)</span>
                                </a>
                            </li>
                            <li class="hidden-xs">
                                <a href="@Url.Action("Index", "Workorders")">
                                    Workorders
                                    <span class="wo-mobile-grid-count">(@openIssuesCount Open)</span>
                                </a>
                            </li>
                        }

                    }
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (UserFunctions.IsAdmin())
                    {
                        <li class="dropdown">

                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Report</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("Index", "ReportRecipient")">Report Recipients</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "AlertRecipient")">Workorder Alert Recipients</a>
                                </li>
                            </ul>
                        </li>
                    }

                    <li>@Html.ActionLink("About", "About", "Workorders")</li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Help</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href=@Settings.HelpVideoLinkUsers target="_blank">Users Video</a>
                            </li>
                            <li>
                                <a href=@Settings.HelpVideoLinkEditors target="_blank">Editors Video</a>
                            </li>
                        </ul>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_DisplayMessagePartial")
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrapSwitch")

    <script type="text/javascript" src="@Url.Content("~/Scripts/wo-main.js?v=1.0")"></script>

    @RenderSection("scripts", required: false)
    <script>
        $(".person-toggle-btn").click(function () {
            if ($(this).find('input:checkbox').is(':checked')) {
                $('.person-served-inputbox').removeClass('hide')
                if ($('#PersonServed').val().length < 3) {
                    $('.person-served-inputbox input').addClass('input-error');
                    $('.person-served-inputbox .field-validation-valid').addClass('field-validation-error').fadeIn().text('Please enter at least 3 characters.');
                }
            }
            else {
                $('.person-served-inputbox').addClass('hide');
                $('.person-served-inputbox input').removeClass('input-error');
                $('.person-served-inputbox .field-validation-valid').removeClass('field-validation-error').fadeOut().text('');
            }
        });

    </script>
</body>
</html>
