@model Workorders.Web.ViewModels.WorkOrdersGridViewModel
@{
    ViewBag.Title = "Mobile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wo-mobile-grid-wrapper">

    <div class="wo-jquery-mobile-grid wo-mobile-grid" data-url="@Url.Action("GetMobileGridData")" data-itemurl="@Url.Action("Detail")">
        <img src="/Images/ajax-loader.gif" class="wo-mobile-grid-loader wo-jquery-mobile-grid-loader" />
        <div class="wo-mobile-grid-filters-row">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-xs-1">
                    <a href="@Url.Action("Create", "Workorders")" class="wo-mobile-grid-action-link btn btn-success bright">
                        <i class="glyphicon-plus glyphicon"></i>
                    </a>
                </div>
                <div class="col-xs-7 wo-mobile-grid-action-links pull-right">
                    <a href="javascript:void(0);" class="wo-jquery-mobile-grid-filter-link wo-mobile-grid-action-link btn btn-info btn-up" data-toggle="modal" data-target="#filterModal">
                        <i class="glyphicon-filter glyphicon"></i>
                    </a>
                    <a href="javascript:void(0);" class="wo-jquery-mobile-grid-sort-link wo-mobile-grid-action-link btn btn-info btn-up" data-toggle="modal" data-target="#sortModal">
                        <i class="glyphicon-sort-by-alphabet glyphicon"></i>
                    </a>
                    <a href="javascript:void(0);" class="wo-jquery-mobile-grid-search-link wo-mobile-grid-action-link btn btn-info btn-up" data-toggle="modal" data-target="#searchModal">
                        <i class="glyphicon-search glyphicon"></i>
                    </a>
                </div>
            </div>
            <div class="wo-jquery-active-filter-row" style="background: #A7DEEE; padding: 5px 0; margin-top: 5px;margin-bottom: 5px;border-radius: 7px; ">
                <div class="col-xs-12" style="text-align: center;"><a style="color: #000;text-decoration: none;" href="javascript:void(0);" class="wo-jquery-active-filters" data-toggle="modal" data-target="#filterModal"></a></div>
            </div>
            <!---add a line--->
            <div class="wo-jquery-active-search-row" style="background: #A7DEEE; padding: 5px 0; margin-top: 5px;display: none; margin-bottom: 5px;border-radius: 7px; ">
                <div class="col-xs-12" style="text-align: center;"><a style="color: #000;text-decoration: none;" href="javascript:void(0);" class="wo-jquery-active-search" data-toggle="modal" data-target="#searchModal"></a></div>
            </div>    <!----end of line--->
        </div>
        <div class="wo-mobile-grid-contents">
        </div>
        <div class="wo-mobile-grid-bottom-loader wo-jquery-mobile-grid-bottom-loader">
            <img src="/Images/ajax-loader-footer.gif" />
            <div>Please wait...</div>
        </div>
    </div>
</div>

<!--Start of Filter Moddal-->
<div class="modal fade" id="filterModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body wo-mobile-grid-modal-body">
                <div class="filter-page">
                    <div>
                        <button type="button" class="close wo-mobile-grid-close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>
                            Filter
                            <i class="glyphicon glyphicon-filter pull-right"></i>
                        </h3>
                    </div>
                    <div class="form-group">

                        <div class="make-switch" data-on="success" data-off="danger">
                            <input type="checkbox" checked="checked" class="wo-jquery-mobile-grid-toggle-filter pull-left" data-on="primary" data-off="info" value="true" />
                        </div>

                        <button type="button" class="btn btn-default btn-sm pull-right wo-mobile-grid-clear-filter">Clear All </button>
                    </div>
                    <div class="form-group">
                        <select name="workOrderType" class="form-control">
                            <option value="">--Open, Awaiting Approval and Closed--</option>
                            <option value="Open">Open</option>
                            <option value="Close">Closed</option>
                            <option value="Awaiting">Awaiting Approval</option>
                        </select>
                    </div>
                    <div class="form-group">
                        @Html.DropDownList("DepartmentAreaName", Model.Areas, "-Select Area-", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.DropDownList("DepartmentName", Model.Departments, "-Select Department-", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.DropDownList("Priority", Model.Priorities, "-Select Priority-", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="workOrderDueType">
                            <option value="">--Due And Overdue--</option>
                            <option value="Due">Due</option>
                            <option value="Overdue">Overdue</option>
                        </select>
                    </div>
                    <div class="form-group">
                        @Html.DropDownList("Closer", Model.Closers, "-Select Closer-", new { @class = "form-control" })
                    </div>
                    <div class="form-group wo-jquery-active-filters">
                    </div>

                    <div>
                        <button type="button" class="btn btn-info btn-lg apply wo-mobile-grid-apply-filter">Apply </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal -->
<!-- /.modal-dialog -->
<!--End of Filter Moddal-->
<!--Start of sort- Moddal-->
<div class="modal fade" id="sortModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body wo-mobile-grid-modal-body">
                <div class="sort-page">

                    <button type="button" class="close wo-mobile-grid-close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <div class="form-group">
                        <h3>
                            Sort
                            <i class="glyphicon glyphicon-sort-by-alphabet pull-right"></i>
                        </h3>
                    </div>
                    <div class="form-group">
                        <h5>Sort By: </h5>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option value="">None</option>
                            <option value="DepartmentAreaName">Area</option>
                            <option value="DepartmentName">Department </option>
                            <option>Priority</option>
                            <option>Reported</option>
                            <option>Closed</option>
                            <option>Closer</option>
                            <option>Estimate</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="pull-left">Descending </div>
                        <div class="make-switch sort-action-button" data-on="success" data-off="danger">
                            <input type="checkbox" class="wo-jquery-mobile-grid-sort-direction" data-on="primary" data-off="info" value="true" />
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-info  apply wo-mobile-grid-sort">Apply </button>
                    </div>
                </div>
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- /.modal -->
<!--end of sort model-->
<!--Start of search- Moddal-->
<div class="modal fade" id="searchModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body wo-mobile-grid-modal-body">
                <div class="search-page">
                    <div>
                        <button type="button" class="close wo-mobile-grid-close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>

                        <div class="form-group">
                            <h3>
                                Search
                                <i class="glyphicon glyphicon-search pull-right"></i>
                                <button style="margin-right: 10px;" type="button" class="btn btn-default btn-sm pull-right wo-mobile-grid-clear-search">Clear Search</button>
                            </h3>

                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control wo-mobile-grid-search-box wo-mobile-grid-detail-field-search" placeholder="Detail contains.." />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control wo-mobile-grid-search-box" placeholder="Resolution contains.." />
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-info apply wo-mobile-grid-search">Apply </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal-body-->
        </div>
        <!--model content-->
    </div>
    <!--model dialog-->
</div>
<!-- model fade-->
<!--End of search Moddal-->
<!-- Start of priority legend modal-->
<div class="modal fade" id="priorityModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body wo-mobile-grid-modal-body">
                <div class="search-page">
                    <div>
                        <button type="button" class="close wo-mobile-grid-close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4>Priority</h4>
                        <div class="wo-mobile-grid-footer">
                            <div class="high-priority"><span>High</span></div>
                            <div class="normal-priority"><span>Normal</span></div>
                            <div class="low-priority"><span>Low</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal-body-->
        </div>
        <!--model content-->
    </div>
    <!--model dialog-->
</div>
<!-- End of priority legend modal-->

<script type="text/html" id="wo-mobile-grid-open-template">
    @*
*@
<div class="wo-mobile-grid-content-row-wrapper">
    <a href="#" class="wo-jquery-mobile-grid-content-row wo-mobile-grid-content-row">
        <div class="row">
            <div class="wo-jquery-mobile-grid-area col-xs-6"></div>
            <div class="wo-mobile-grid-department wo-jquery-mobile-grid-department col-xs-6"></div>
        </div>
        <div class="row">
            <div class="wo-jquery-mobile-grid-reported-date col-xs-4"></div>
            <div class="col-xs-4">Due: <span class="wo-jquery-mobile-grid-due-date"></span></div>
            <div class="col-xs-4">Days Open: <span class="wo-jquery-mobile-grid-days-open"></span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 wo-jquery-mobile-grid-details"></div>
        </div>
    </a>
</div>
</script>

<script type="text/html" id="wo-mobile-grid-open-overdue-template">
    @*
*@
<div class="wo-mobile-grid-content-row-wrapper">
    <a href="#" class="wo-mobile-grid-content-row wo-jquery-mobile-grid-content-row">
        <div class="row">
            <div class="wo-jquery-mobile-grid-area col-xs-6"></div>
            <div class="wo-mobile-grid-department wo-jquery-mobile-grid-department col-xs-6"></div>
        </div>
        <div class="row">
            <div class="wo-jquery-mobile-grid-reported-date col-xs-4"></div>
            <div class="col-xs-4">Due: <span class="wo-jquery-mobile-grid-due-date"></span></div>
            <div class="col-xs-4">Days Open: <span class="wo-jquery-mobile-grid-days-open"></span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 wo-jquery-mobile-grid-details"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 wo-mobile-grid-days-overdue">Days Overdue: <span class="wo-jquery-mobile-grid-days-overdue"></span></div>
        </div>
    </a>
</div>
</script>

<script type="text/html" id="wo-mobile-grid-closed-template">
    @*
*@
<div class="wo-mobile-grid-content-row-wrapper">
    <a href="#" class="wo-mobile-grid-content-row wo-jquery-mobile-grid-content-row">
        <div class="row">
            <div class="wo-jquery-mobile-grid-area col-xs-6"></div>
            <div class="wo-mobile-grid-department wo-jquery-mobile-grid-department col-xs-6"></div>
        </div>
        <div class="row">
            <div class="wo-jquery-mobile-grid-reported-date col-xs-4"></div>
            <div class="col-xs-4">Due: <span class="wo-jquery-mobile-grid-due-date"></span></div>
            <div class="col-xs-4">Days Open: <span class="wo-jquery-mobile-grid-days-open"></span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 wo-jquery-mobile-grid-details"></div>
        </div>
        <div class="row">
            <div class="col-xs-6">Closed: <span class="wo-jquery-mobile-grid-closed-date"></span></div>
            <div class="col-xs-46">Closer: <span class="wo-jquery-mobile-grid-closer"></span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 wo-jquery-mobile-grid-resolution"></div>
        </div>
    </a>
</div>
</script>

<script type="text/html" id="wo-mobile-grid-closed-overdue-template">
    @*
*@
<div class="wo-mobile-grid-content-row-wrapper">
    <a href="#" class="wo-mobile-grid-content-row wo-jquery-mobile-grid-content-row">
        <div class="row">
            <div class="wo-jquery-mobile-grid-area col-xs-6"></div>
            <div class="wo-mobile-grid-department wo-jquery-mobile-grid-department col-xs-6"></div>
        </div>
        <div class="row">
            <div class="wo-jquery-mobile-grid-reported-date col-xs-4"></div>
            <div class="col-xs-4">Due: <span class="wo-jquery-mobile-grid-due-date"></span></div>
            <div class="col-xs-4">Days Open: <span class="wo-jquery-mobile-grid-days-open"></span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 wo-jquery-mobile-grid-details"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 wo-mobile-grid-days-overdue">Days Overdue: <span class="wo-jquery-mobile-grid-days-overdue"></span></div>
        </div>
        <div class="row">
            <div class="col-xs-6">Closed: <span class="wo-jquery-mobile-grid-closed-date"></span></div>
            <div class="col-xs-6 wo-mobile-grid-closer">Closer: <span class="wo-jquery-mobile-grid-closer"></span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 wo-jquery-mobile-grid-resolution"></div>
        </div>

    </a>
</div>
</script>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/wo-mobile-grid.js?v=1.3")"></script>
}
